.ul{

    display: inline-block;
    margin-left: 35%;
    margin-top: 5%;

}


.button{
    margin:3px 6px;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
}

.button:hover{
    background-color: #0080ff;
    transform: scale(1.2);
    cursor: pointer;
}


.b{
    margin:3px 6px;
    font-size: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(12, 24, 49, 0.575);
    color:beige
}