.container{
    background-color: rgba(12, 24, 49, 0.575);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.nombres{
    display: flex;
    color: rgb(173, 201, 178);
    
}

.name{
    font-size: 25px;
    color: white;

}
.name:first-letter {
    text-transform: uppercase;
}


.p{
    color: beige;
}


.imagenes{
    border: 1px solid black;
    border-radius: 10px;
}

.delete{
    display: flex;
    
    align-self: center;
background-color: rgba(165, 179, 34, 0.616);
height: 40px;
width: fit-content;
border-radius: 5px;
margin-top: 10px;
font: italic small-caps bold 14px/2 cursive;
border: 0.5px solid black;
}

.delete:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: rgba(165, 179, 34, 0.932);
}

p{
    display: flex;
    font-size: 23px;
}